html {
    margin:0;padding:0;border:0;
    overflow:auto/*-moz-scrollbars-vertical*/;
    overflow-y: scroll;
    height: 100%;
}

body
{
    color: #363636;
    font-family: 'Arial',sans-serif;
    font-size: 12px;
    padding-top: 10px;
}
table {
    background-color: #ccffcc;
    font-size: 12px;
}

.txt_red
{
    color: #b70102;
}
